<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.UserMapper">
    <insert id="addUser"  parameterType="com.admin.entity.UserEntity">
        INSERT INTO public."user" (ds_user,ds_account,ds_password,nr_age)
        VALUES (#{ds_user} , #{ds_account} , #{ds_password} , #{nr_age})
    </insert>

    <select id="getUsersByPage" parameterType="java.util.Map" resultType="com.admin.entity.UserEntity">
        select * from public."user" where 1 = 1
        <if test="nr_age != null and nr_age != ''">
            AND nr_age = #{nr_age}
        </if>
        <if test="ds_account != null and ds_account != ''">
            AND ds_account ILIKE CONCAT('%', #{ds_account}, '%')
        </if>
        <if test="ds_user != null and ds_user != ''">
            AND ds_user ILIKE CONCAT('%', #{ds_user}, '%')
        </if>
          order by cd_user asc
    </select>

    <delete id="deleteByPk" parameterType="long">
        delete from public."user" where cd_user = #{recid}
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM public."user"
        WHERE cd_user IN
        <foreach item="id" collection="recids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUser" parameterType="com.admin.entity.UserEntity">
        update  public."user" set
                                  ds_user = #{ds_user} ,
                                  ds_account = #{ds_account} ,
                                  ds_password = #{ds_password} ,
                                  nr_age = #{nr_age}
                              where cd_user = #{cd_user}
    </update>

    <!---->
</mapper>